<div
  class="card"
  [class.card--centered]="!hasSubmissionTool && !hasAssessment && !card.locked"
  [class.card--locked]="card.locked"
>

  <!-- CARD NORMAL -->
  <ng-container *ngIf="!card.locked; else lockedCard">

    <div class="title">
      <span class="title__text">{{ card.moduleName }}</span>
    </div>

    <div class="state" *ngIf="hasSubmissionTool || hasAssessment">

      <div *ngIf="hasSubmissionTool" class="state__element">
        <span class="state__kind">{{ submissionKindLabel }}</span>
        <div class="state__row">
          <span
            class="state__dot"
            [class.state__dot--done]="submissionTool?.state === 'SUBMITTED'"
          ></span>
          <span class="state__label" *ngIf="submissionTool?.state === 'SUBMITTED'; else notSubmitted">
            Soumis le {{ submissionTool?.date | date: 'dd/MM/yyyy' }}
          </span>
          <ng-template #notSubmitted>
            <span class="state__label">Non soumis</span>
          </ng-template>
        </div>
      </div>

      <div *ngIf="hasAssessment" class="state__element">
        <span class="state__kind">Évaluation</span>
        <div class="state__row">
          <app-assessment-status-dot [status]="assessmentStatus" size="sm"></app-assessment-status-dot>
          <span class="state__label">{{ assessmentStateLabel }}</span>
        </div>
      </div>

    </div>

    <div class="actions">

      <div class="action" *ngFor="let action of actionLabelAndDates">
        <button (click)="onCtaClick(action.toolId)">{{ action.label }}</button>

        @let dateInfo = getDateLabel(action.dateLimit);
        <ng-container>
          <div
            class="actions__date-limit"
            [title]="dateInfo?.label ?? '.'"
          >
            {{ dateInfo?.label ?? '' }}
          </div>
        </ng-container>

      </div>

    </div>

  </ng-container>


  <!-- CARD LOCKED -->
  <ng-template #lockedCard>

    <div class="locked-card">

      <div class="title">
        <span class="title__text">
          {{ card.moduleName }}
        </span>
        <span class="material-symbols-outlined title__locked-icon">
          lock
        </span>
      </div>


      <div class="locked-by-div" *ngIf="card.lockedBy?.length">
        <div class="locked-by-div__title">
          Ce module sera disponible quand
        </div>

          <div
            class="locked-by-div__condition"
            *ngFor="let condition of getConditionsLabels()"
          >
            • {{ condition }}
          </div>

      </div>

    </div>

  </ng-template>

</div>
