.card {
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  display: grid;
  min-height: 150px;
  grid-template-columns: 2fr 1fr 1fr;
  border-collapse: collapse;

  &__left, &__middle, &__right {
    padding: 15px;
    cursor: pointer;
  }

  &__left {
    background-color: #EBEBEB;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: all ease 0.1s;

    &:hover {
      z-index: 9999;
      transform: scale(1.025);
    }

    &__module-title {
      font-size: 1.2rem;
      font-family: 'joan';
    }

    &__module-id {
      font-size: 0.9rem;
      font-weight: 300;
    }

    &__edit-icon {
      position: absolute;
      right: 30px;
      color: #818181;
    }
  }

  &__middle, &__right {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 5px;
    background-color: #D7D7D7;
    position: relative;
    transition: all ease 0.1s;

    &:hover {
      border-color: #D7D7D7;
    }

    &__left {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      &__label {
        font-size: 1rem;
        font-family: 'joan';
      }

      &__conditions-list {
        overflow-y: auto;
        font-size: 0.8rem;
        font-weight: 300;
        text-align: left;
      }
    }

    &__right {
      height: 100%;
      display: flex;
      align-items: center;

    }
  }

  &__middle {
    border: #FFFFFF solid;
    border-width: 5px 0 5px 5px;

  }

  &__right {
    border: #FFFFFF solid;
    border-width: 5px 5px 5px 3px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  &__empty {
    height: 100%;
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #818181;
  }

  &__edit-icon {
    color: #818181;
  }
}
