<div class="module">
  <app-tabbar 
    [title]="(moduleData$ | async)?.name ?? '...'" 
    [subtitle]="'Module ' + ((moduleData$ | async)?.id ?? '...') + ' - Description'"
    [backButton]="true"
  >
  </app-tabbar>

  <div class="module__controls">
    <button class="module__button" type="button" [class.active]="!isEditMode" (click)="isEditMode = false; updatePreview()">Aperçu</button>
    <button class="module__button" type="button" [class.active]="isEditMode" (click)="isEditMode = true">Modification</button>
  </div>

  <div class="module__content">
    <textarea
      *ngIf="isEditMode"
      class="module__markdown-editor"
      [(ngModel)]="markdown"
      (ngModelChange)="updatePreview()"
      aria-label="Module description markdown editor"
    ></textarea>

    <div *ngIf="!isEditMode" class="module__markdown-preview" [innerHTML]="previewHtml"></div>
  </div>
</div>