<div class="module">
  <app-tabbar 
    title="Module title here" 
    subtitle="Module 1 - Description"
    [backButton]="true"
  >
  </app-tabbar>

  <div class="module__content">
    Lorem ipsum dolor sit amet consectetur

    Duis a tellus ac mi dignissim suscipit eget vel sapien. Nunc ornare porta est eu gravida. Nulla et finibus metus. Nunc mauris est, luctus sit amet augue non, tristique luctus justo. Suspendisse ut risus feugiat, feugiat ante fermentum, iaculis augue. Maecenas sollicitudin interdum quam, sed viverra dui dapibus sed. Donec accumsan arcu at lacus ultricies auctor. Integer pulvinar tellus metus. Suspendisse interdum nunc in purus viverra fermentum. Nunc faucibus augue tellus, et vehicula turpis gravida quis. Quisque vitae egestas augue. Aliquam erat volutpat. Quisque neque mauris, rutrum eu sodales nec, ultricies eget ex. Donec vitae urna libero. Duis at porttitor dui, eget pharetra urna. 

    Nulla gravida eros ac ligula hendrerit, sit amet faucibus neque porta. Mauris sit amet quam vehicula sem pellentesque blandit sit amet a nisi. Donec vestibulum, nisi vel faucibus tincidunt, purus ipsum ullamcorper sem, eget interdum diam mauris vitae tortor. Donec ultricies porttitor lacus quis faucibus. Aenean vitae dui sed enim dictum volutpat et at dolor. Vestibulum lacinia purus in ex accumsan pellentesque. Maecenas tempor egestas neque a pellentesque. Sed rutrum tincidunt nisi quis luctus. Maecenas rhoncus pellentesque ornare. Aliquam erat volutpat. Phasellus in felis in ipsum interdum ultricies.
    Phasellus condimentum arcu eros, sit amet malesuada purus fringilla ac. 

    Lorem ipsum dolor

    Nam a ante ut urna luctus sodales. Nunc velit urna, sollicitudin vel nunc sed, iaculis mollis purus. Nam varius iaculis urna, quis condimentum velit ullamcorper sit amet. Nam pulvinar, nunc eleifend auctor tristique, nunc est convallis eros, vel semper nibh eros ut nisl. 
  </div>
</div>