<div class="card">
  <div class="card__header">
    <div class="card__header__left">
      {{ course.name }}
    </div>
    <div class="card__header__right">
      <div class="card__header__edit" [routerLink]="['/coordinator/training-courses/' + course.id + '/modules']">
        <span class="material-symbols-outlined card__icon">edit</span>  
      </div>
    </div>
  </div>

  <div class="card__infos">
    <span
        class="card__status-dot"
        *ngIf="status !== 'none'"
        [style.backgroundColor]="indicatorColor"
    ></span>

    <div class="card__infos__top">
      <ng-container *ngIf="course.startDate; else notPlanned">
        <div><span class="card__label">Début</span> {{ course.startDate | date:'dd-MM-yy' }} </div>
        <div><span class="card__label">Fin</span> {{ course.endDate | date:'dd-MM-yy' }} </div>
      </ng-container>

      <ng-template #notPlanned>
        <span class="card__label">Non planifié</span>
      </ng-template>
    </div>

    <div class="card__infos__bottom">
      <div><span class="card__label">Utilisateurs</span> {{ course.studentsCount }} </div>
      <div><span class="card__label">Enseignants</span> {{ course.teachersCount }}  </div>
    </div>
  </div>
</div>
