<div class="training-courses">
  <div class="training-courses__section">
    <div class="training-courses__title-div">
      <span class="training-courses__title">Tous les parcours</span>
    </div>
    <div class="grid">
      <app-card type="Formulaire" id="01">Parcours 1 et ouais</app-card>
      
      <!-- <app-card *ngFor="let module of modules$ | async" [type]="'Formulaire'" [id]="module.id">
        {{ module.name }}
      </app-card> -->
      
    </div>
  </div>
</div>

<router-outlet></router-outlet>