:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.planning {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    &__section {
        flex: 1;
        border-radius: 12px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 40px;
        padding: 25px;
        overflow: auto;
    }

    &__title {
        font-size: 1rem;
        font-family: 'Joan';
    }
}