<div class="page">

  <div class="page__tabbar">

    <ng-container *ngIf="courseState$ | async as state">

      <app-tabbar 
        [tabs]="tabbarItems" 
        [title]="state.data?.name ?? '...'"
        [isLoading]="state.status === 'loading' || state.status === 'error'"
        [isTitleEditable]="true"
        (titleChange)="onTitleChange($event)"
        [isElementDeletable]="true"
        (delete)="onDelete()"
        [backButton]="true" 
        [backRoute]="['/training-courses', 'creation']" 
      >
      </app-tabbar>

      <!-- ERROR DISPLAY OPTIONNEL -->
      <div *ngIf="state.status === 'error'" class="error">
        {{ state.error }}
      </div>

    </ng-container>

  </div>

  <div class="page__content">
    <router-outlet></router-outlet>
  </div>

</div>