<div class="page">

  <div class="header">
    <app-back-button class="header-left" [route]="backRoute" [queryParams]="backQueryParams"></app-back-button>

    <div class="header-center">

      <app-dropdown #projectDropdown class="user-card" *ngIf="selectedProject">
        <div dropdownTrigger class="user-card__profile">{{ getInitials(selectedProject) }}</div>
        <div dropdownTrigger class="user-card__name">{{ getStudentsLabel(selectedProject) }}</div>
        <span dropdownTrigger class="material-symbols-outlined user-card__dropdown">{{ projectDropdown.open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
        <ng-container dropdownPanel>
          <button
            *ngFor="let project of projects"
            class="dropdown-item"
            [class.dropdown-item--active]="project.id === selectedProject.id"
            (click)="selectProject(project)">
            {{ getStudentsLabel(project) }}
          </button>
        </ng-container>
      </app-dropdown>

      <app-dropdown #gridDropdown class="user-card grid-name" *ngIf="selectedGrid">
        <div dropdownTrigger class="user-card__icon"><span class="material-symbols-outlined">box_edit</span></div>
        <div dropdownTrigger class="user-card__name">{{ selectedGrid.name }}</div>
        <span dropdownTrigger class="material-symbols-outlined user-card__dropdown">{{ gridDropdown.open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
        <ng-container dropdownPanel>
          <button
            *ngFor="let grid of selectedProject?.grids"
            class="dropdown-item"
            [class.dropdown-item--active]="grid.id === selectedGrid.id"
            (click)="selectGrid(grid)">
            {{ grid.name }}
          </button>
        </ng-container>
      </app-dropdown>

    </div>

    <div
      class="evals-btn"
      [class.evals-btn--active]="evaluationsVisibility.showOtherVotes()"
      [title]="evaluationsVisibility.showOtherVotes() ? 'Masquer les votes des autres évaluateurs' : 'Afficher les votes des autres évaluateurs'"
      (click)="evaluationsVisibility.toggle()"
    ><span class="material-symbols-outlined">groups</span></div>

  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>