<div class="page">

  <div class="page__status-div">
    <div
      class="page__status-div__indicator"
      [style.backgroundColor]="indicatorColor">
    </div>

    <div class="page__status-div__titles-div">
      <span class="page__status-div__title">{{ title }}</span>
      <span class="page__status-div__subtitle">{{ subtitle }}</span>
    </div>
  </div>

  <div class="page__planning-div">

    <app-date-picker
      title="Date de début"
      [date]="startDate.value"
      [minDate]="addOneDay(today)"
      [maxDate]="endDate.value ? addMinusOneDay(endDate.value) : maxFallback"
      (chosedDate)="onStartDateChosed($event)">
    </app-date-picker>

    <app-date-picker
      title="Date de fin"
      [date]="endDate.value"
      [minDate]="startDate.value ? addOneDay(startDate.value) : addOneDay(today)"
      [maxDate]="maxFallback"
      (chosedDate)="onEndDateChosed($event)">
    </app-date-picker>

  </div>

</div>