:host {
    display: flex;
    flex: 1;
    overflow-y: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #F4F4F4;
    border-radius: 12px;
    padding: 40px;
    overflow-y: auto;

    &__top-bar {
        height: 30px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__title {
            padding-left: 40px;
            font-size: 1.4rem;
            font-family: 'joan';
        }
    }

    &__cards-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
    }
}