<nav class="navbar">
  <div class="navbar__div navbar__left">
    <button (click)="onClick()" class="navbar__btn" [class.navbar__btn--open]="open">
      <span class="material-symbols-outlined navbar__icon" [class.navbar__icon--open]="open">menu</span>  
    </button>
    <span class="navbar__div navbar__app-name">Thesis</span>
  </div>
  <div class="navbar__div navbar__center">
    <!-- <span class="navbar__menu-name">{{ menuName }}</span> -->
  </div>
  <div class="navbar__div navbar__right">
    <span class="navbar__profile">BM</span>
  </div>
</nav>