<div class="page">

  <div>
    <div class="title">

      <app-dropdown class="title__dropdown">
        <span dropdownTrigger class="title__label">
          {{ selectedTaskFilterLabel }}
          <span class="material-symbols-outlined dropdown-icon">stat_minus_1</span>
        </span>
        <ng-container dropdownPanel>
          <button
            *ngFor="let option of taskFilterOptions"
            class="dropdown-item"
            [class.dropdown-item--active]="option.value === selectedTaskFilter"
            [hidden]="option.value === 'NO_DATE' && noDateModules.length === 0"
            (click)="selectedTaskFilter = option.value"
          >{{ option.label }}</button>
        </ng-container>
      </app-dropdown>

    </div>

    <div class="tasks-wrapper">
      <!-- <button class="scroll-arrow scroll-arrow--right" *ngIf="canScrollRight" (click)="scrollRight()">›</button> -->
      <div class="tasks-section vartical-scroll-div" #tasksSection (scroll)="onScrollT()">

        <app-student-module-card
          *ngFor="let module of filteredModules"
          class="module-card"
          [module]="module"
          (ctaClicked)="onModuleCardAction($event)"
        >
        </app-student-module-card>

      </div>
    </div>

  </div>

  <div>
    <div class="title">

      <app-dropdown class="title__dropdown">
        <span dropdownTrigger class="title__label">
          {{ selectedOtherFilterLabel }}
          <span class="material-symbols-outlined dropdown-icon">stat_minus_1</span>
        </span>
        <ng-container dropdownPanel>
          <button
            *ngFor="let option of otherFilterOptions"
            class="dropdown-item"
            [class.dropdown-item--active]="option.value === selectedOtherFilter"
            (click)="selectedOtherFilter = option.value"
          >{{ option.label }}</button>
        </ng-container>
      </app-dropdown>

    </div>

    <div class="other-wrapper">
      <div class="other-section" #otherSection (scroll)="onScrollO()">

        <app-student-module-card
          *ngFor="let module of filteredOtherModules"
          class="module-card"
          [module]="module"
          (ctaClicked)="onModuleCardAction($event)"
        >
        </app-student-module-card>

      </div>
    </div>

  </div>

</div>