.page {
    margin: 20px;
}

.description-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #F4F4F4;
    border-radius: 12px;
    padding: 40px;
    overflow-y: auto;
}