<div class="login">
  <div class="form-wrapper">
    <span class="title">Bienvenue sur Thesis</span>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Se connecter</h2>

      <input
        type="email"
        placeholder="Email"
        formControlName="email"
      />

      <input
        type="password"
        placeholder="Mot de passe"
        formControlName="password"
      />

      <span class="error-msg">{{ errorMessage }}</span>

      <button type="submit">Connexion</button>
    </form>
  </div>
</div>