:host {
    display: flex;
    flex: 1;
    min-height: 0;
}

.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    background-color: #F4F4F4;
    border-radius: 12px;
    padding: 40px;
}
