.menu {
  background-color: rgb(248, 248, 248);
  height: 100%;
  width: 80px;

  &__element {
    height: 100px;
    font-size: 0.8rem;
    font-family: 'Joan';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;

    user-select: none;
    cursor: pointer;
    transition: all ease 0.2s;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 56px;
    font-size: 23px;
    color: #1F4541;
    user-select: none;
    border-radius: 12px;
  }

  &__element.active &__icon {
    background-color: #1F4541;
    color: #d1faf5;
  }

  &__element:not(.active):hover &__icon {
    background-color: #cecece;
  }
}