:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.training-courses {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    &__tabbar {
        height: 90px;
        flex-shrink: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        flex: 1;
        min-height: 0;
        margin: 0 40px 40px 40px;

        display: flex;
        flex-direction: column;
    }
}