:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.training-course {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;

    &__section {
        flex: 1;
        background-color: #F4F4F4;
        border-radius: 12px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 40px;
        padding: 25px 50px 25px 50px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__title-div {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 1.2rem;
        font-family: 'Joan';
    }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
}
