@if(module$ | async; as module) {

  <div class="page">

    <div class="page__content-div">

      <div class="header">
        <app-tabbar 
          [title]="module.name"
          [isTitleEditable]="userRole === 'COORDINATOR'"
          (titleChange)="onModuleTitleChange(module, $event)"
          [backButton]="true"
          [backRoute]="backRoute"
        >
        </app-tabbar>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <div class="menu-button" [class.show]="isVisible" (click)="toggleNavbar()">
        <span class="material-symbols-outlined">menu</span>
      </div>

    </div>

    <div class="page__navbar-div navbar" [class.show]="isVisible">
      <div class="navbar__inner">
        <span class="navbar__title">Outils du module</span>

        <app-navbar-item
          [name]="'Description'"
          [routerLink]="['description']"
          routerLinkActive
          #rlaDesc="routerLinkActive"
          [active]="rlaDesc.isActive"
        />

        <app-navbar-item
          *ngFor="let tool of tools$ | async"
          [name]="tool.name"
          [routerLink]="[getRouteType(tool.type), tool.id]"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
          icon="upload_file"
          [isEditable]="rla.isActive && userRole === 'COORDINATOR'"
          [isDeletable]="rla.isActive && userRole === 'COORDINATOR'"
          (nameChange)="onToolNameChange(tool, $event)"
          (deleted)="deleteTool(tool)"
        />

        <app-dropdown *ngIf="userRole === 'COORDINATOR'" class="add-button-wrapper" align="center">
          <div dropdownTrigger class="add-button">
            <span class="material-symbols-outlined">add</span>
          </div>
          <ng-container dropdownPanel>
            <!-- <button type="button" class="dropdown-item" (click)="addForm()">Formulaire</button> -->
            <button type="button" class="dropdown-item" (click)="addWorkSubmission()">Remise de travail</button>
            <!-- <button type="button" class="dropdown-item" (click)="addAssessment()">Evaluation</button> -->
          </ng-container>
        </app-dropdown>

        <span *ngIf="userRole === 'COORDINATOR'" class="delete-module" (click)="deleteModule()">Supprimer ce module</span>

      </div>
    </div>

  </div>

}