<div class="modules-editor">
  <div class="modules-editor__top-bar">
    <div class="modules-editor__top-bar__left" (click)="goBack()">
      <span class="material-symbols-outlined arrow-icon">arrow_back_ios</span>
    </div>
    <div class="modules-editor__top-bar__center">
      <div class="modules-editor__title-div">
        <span class="modules-editor__title">This is the modules title</span>
        <div class="modules-editor__edit"><span class="material-symbols-outlined arrow-icon">edit</span></div>
      </div>
      <span class="modules-editor__id">Module 01</span>
    </div>
    <div class="modules-editor__top-bar__right">
    </div>
  </div>
  <div class="modules-editor__cards-list">
  </div>
</div>
