:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.module-editor {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;

    &__cards-list-container {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 20fr 1fr;
        margin-top: 30px;
    }

    &__cards-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}