<div class="module-editor">
  <div class="module-editor__top-bar">
    <div class="module-editor__top-bar__title">
      <span>This is the modules title</span>
      <div class="module-editor__top-bar__edit"><span class="material-symbols-outlined arrow-icon">edit</span></div>
    </div>
    <div>
      <span class="module-editor__top-bar__id">Module 01</span>
    </div>

    <app-back-button class="back-button"></app-back-button>
  </div>

  <div class="module-editor__cards-list-container">
    <div></div>
    <div class="module-editor__cards-list">
      <app-module-content-item title="Description" [isRemovable]="false"></app-module-content-item>
      <app-module-content-item title="Formulaire" subtitle="Informations génrales sur le sujet"></app-module-content-item>
    </div>
    <div></div>
  </div>
</div>


<!-- A FAIRE : ngFor pour baser la création des cards sur un objet en .ts puis demander à ia de rendre les cards draggables verticalement permettant de changer l'ordre de celles-ci -->