<div class="module-editor">

  <app-tabbar 
    [title]="(moduleData$ | async)?.name ?? '...'" 
    [isTitleEditable]="true"
    subtitle="Module 1 - Contenu" 
    [backButton]="true">
  </app-tabbar>

  <div class="module-editor__cards-list-container">
    <div></div>
    <div class="module-editor__cards-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <app-module-content-item 
        *ngFor="let card of cards" 
        [card]="card"
        cdkDrag
        cdkDragLockAxis="y">
      </app-module-content-item>
    </div>
    <div></div>
  </div>
</div>
