$card-width: 500px;

:host {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    flex: 1;
    width: 100%;
    max-width: 100%;
    position: relative;
    gap: 20px;
}

.invite-section, .history-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 12px;
    padding: 40px;
    overflow-y: auto;

    &__top-bar {
        height: 30px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.title {
    padding-left: 40px;
    font-size: 1.4rem;
    font-family: 'joan';
}


.invite-section {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__actions {

        &__form {
            display: flex;
            flex-direction: row;
            gap: 15px;

            &__button, &__select {
                width: 120px;
                height: 40px;
            }

            &__text {
                background-color: #DBDBDB;
                min-height: 60px;
                height: 60px;
                width: 400px;
                border-radius: 12px;
                border: none;
                padding: 5px 15px 5px 15px;
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
                resize: vertical;
            }

            &__button:active {
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
            }
        }

    }

    &__recap {
        display: grid;
        grid-template-columns: repeat(auto-fit, $card-width); 
        justify-content: center;
        gap: 12px;
        max-height: 400px;
        overflow-y: auto;

        background-color: #DBDBDB;
        border-radius: 12px;
        border: none;
        padding: 20px 40px 20px 40px;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    }

    &__send {
        display: flex;
        justify-content: center;
        align-items: center;

        &__button {
            height: 50px;
            width: 200px;
        }
    }
}

.button, .select {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: all ease 0.1s;
}

.button:hover {
    background-color: #ececec;
} 

.button:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.user-to-invite-card {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: $card-width;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    
    &__email {
        flex: 6;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor:context-menu;
    }

    &__select {
        flex: 2;
        background-color: #DBDBDB;
        height: 35px;
    }

    &__close {
        flex: 1;
        cursor: pointer;
        user-select: none;
        transition: all ease 0.1s;
        border-radius: 100%;
        padding: 7px;

        &:hover {
            background-color: #cecece;
        }
    }
}